
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Cypress
api-gorest/cypress/videos/*.mp4
api-gorest/cypress/screenshots/*.png
api-gorest/cypress/downloads/*


